<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
        <!-- CSS -->
        <link rel="stylesheet" href="./style.css">
        <!-- FONTAWESOME-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app"> 
    <main>
        <section class="container d-flex">
            <div class="sidebar">
                <div class="user d-flex bg-beige">
                   <p class="name"> <img src="./img/avatar_8.jpg" alt="user-img"> Matteo </p>
                   <p class="options">
                    <i class="color-grey fa-solid fa-circle-notch"></i>
                    <i class="color-grey fa-solid fa-message"></i>
                    <i class="color-grey fa-solid fa-ellipsis-vertical"></i>
                   </p>
                </div>
                <div class="alerts d-flex">
                <i class="fa-solid fa-bell-slash"></i>
                  <p> Ricevi notifiche di nuovi messaggi</p> 
                  <p>Attiva notifiche desktop</p>
                </div>
                <article>
                    <input type="text" class="searchbar" placeholder= "Cerca e inizia una nuova chat">
                </article>
                <article class="contact-list">
                    <ul>
                        <li v-for="contact in contacts">
                            <img :src=" contact.avatar" alt="">
                            <span> {{contact.name}} </span>
                            
                        </li>
                    </ul>
                </article>
                
            </div>
            <div class="message-container">
                <div class="receiver bg-beige d-flex">
                    <p class="name"> <img src="./img/avatar_io.jpg" alt="user-img"> Sofia <br> Ultimo accesso oggi alle 12:00 </p>
                    
                    <p class="options">
                        <i class="color-grey fa-solid fa-magnifying-glass"></i>
                        <i class="color-grey fa-solid fa-paperclip"></i>
                        <i class="color-grey fa-solid fa-ellipsis-vertical"></i>
                    </p>
                </div>
                <div class="messages clearfix" v-for="(text)in contacts[activeIndex].messages">
                    <article class="message received" >
                        {{text.message}}
                    </article>
                    <article class="message sent">
                        B
                    </article>
                    <article class="message received">
                        B
                    </article>
                    <article class="message sent">
                        A
                    </article>
                </div>
                <div class="message-input d-flex">
                    <i class="fa-regular color-grey fa-face-smile"></i>
                    <input type="text" class="type-text"  name="message-input" placeholder="Scrivi un messaggio">
                    <i class="fa-solid color-grey fa-microphone"></i>
                </div>
            </div>
        </section>
    </main>
</div>
    <script src="./script.js"></script>
</body>
</html>