/* RESET */
*{
margin:0;
padding:0;
box-sizing: border-box;
/* border: 1px solid black; */
}
.d-flex{
    display: flex;
}
div#app{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: 100%;
}
main{
    height: 94%;
    width: 80%;
    
}
.sidebar{
    width: 35%;
    background-color: #ffffff;
    overflow-y: scroll;
}
.message-container{
    width: 65%;
    overflow-y: scroll;
    
}


img{
    width: 20%;
}
.bg-beige{
    background-color: #EAEAEA ;
}
.color-grey{
    color: #67717F;
}

.name{
    width: 50%;
}
.options{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.options i {
    padding: .4rem;
}
.alerts{
    height: 7%;
    background-color: #8EDAFC;
}
.alerts i{
    font-size: 24px;
    color: #8EDAFC;
    background-color: #ffffff;
    border-radius: 3rem;
    padding: .6rem;
}
.searchbar{
    padding: 6px;
    border: .5px solid grey;
    margin-top: 10px;
}
.user{
    padding: .7rem;
}

.receiver p img{
    width: 11%;
}
ul{
    list-style-type: none;
}
li{
    padding: 1rem;
}
li p{
    padding: .7rem 0 0 1.3rem
}


div.messages{
    height: calc(100% - 145px);
    background-image: url('../img/mine.jpg');
    padding: 2rem;
}
div.messages > article.message{
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2rem .8rem 2rem;
    background-color: #8edafc;
    clear: both;
}

div.messages > article.message.received{
    float: left;
    background-color: #ffffff;
    margin-right: 5rem;
}

div.messages > article.message.sent{
    float: right;
    background-color: #d5f9ba;
    margin-left: 5rem;
}

 div.message-input{
    height: 85px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}
.clearflix:after{
    display: block;
    clear: both;
    content:'';
}
.type-text{
    padding: 1rem 380px 1rem 1rem;
    border: none;
    
}
.message-input i{
    padding: 1.5rem;
    
}